.categories:hover {
  cursor: pointer;
}
.categories-clicked {
  width: 80%;
  margin-right: 0;
  cursor: pointer;
}
.categories .editDisabled {
  display: none;
}
.categories .editEnabled {
  display: block;
  font-weight: 300;
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}
.categories .editEnabled:hover {
  display: block;
  font-weight: 300;
  text-decoration: underline;
  color: white;
}

.firstColumn {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.secondColumn {
  padding: 15px;
}
.firstColumn > img {
  height: 100px;
  width: 100px;
  border-radius: 0;
}
.categoryInsideBook {
  margin-top: 10px;
  padding-left: 5px;
  width: 100px;
}

.bookTitle {
  font-size: 20px;
  display: flex;
}
.bookDescription {
  margin-top: 10px;
}
.readMoreLink {
  margin-top: 10px;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.bookInModal {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bookInModalFirstColumn {
  display: flex;
  flex-direction: column;
}
