* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 10vh;
  background: #0972bc;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.nav-links {
  display: grid;
  width: 40%;
  list-style: none;
  justify-content: right;
  grid-template-columns: 20% 0 20% 25%;
  grid-auto-flow: row;
  align-items: center;
  margin-left: auto;
}

@media screen and (max-width: 1400px) {
  .nav-links {
    grid-template-columns: 25% 0 25% 35%;
  }
}

.nav-links > li:nth-child(3) {
  padding-left: 20px;
  margin-left: 20px;
}

.nav-links > span {
  border-right: 1px solid white;
  height: 10vh;
}

.nav-links > li > * {
  color: white;
}

img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
