@keyframes in {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 10vh;
  background: #0972bc;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  transition: 1s;
}

.nav-links {
  display: grid;
  width: 40%;
  list-style: none;
  justify-content: right;
  grid-template-columns: 20% 0 20% 25%;
  grid-auto-flow: row;
  align-items: center;
  margin-left: auto;
}

.nav-links>li:nth-child(3) {
  padding-left: 20px;
  margin-left: 20px;
}

.nav-links>span {
  border-right: 1px solid white;
  height: 10vh;
}

.nav-links>li>* {
  color: white;
}

img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

@media screen and (max-width: 1400px) {
  .nav-links {
    grid-template-columns: 25% 0 25% 35%;
  }
}

@media screen and (max-width:430px) {
  .nav-links {
    display: none;
  }
}

@media screen and (max-width:430px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin-top: 2.5vh;
    right: 20px;
  }
  .hamburger .line {
    height: 5px;
    width: 40px;
    background-color: white;
    margin: 4px;
  }
  .navbar-active {
    height: 100vh;
    width: 100%;
    background-color: #0972bc;
    animation: in 1s;
    transform-origin: 100% 0;
    overflow: hidden;
  }
}